.resume-card-wrapper {
  position: relative;
}

/* 3 dots */
.menu-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.menu-icon {
  cursor: pointer;
}

/* Dropdown */
.dropdown {
  position: absolute;
  right: 0;
  top: 22px;
  width: 130px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.dropdown div {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown div:hover {
  background: #f3f4f6;
}

.dropdown .delete {
  color: #dc2626;
}
